@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk";
  src: local("SpaceGrotesk"), url("./assets/fonts/SpaceGrotesk.ttf");
}

body {
  margin: 0;
  padding: 0;
  color: #212121;
  box-sizing: border-box;
  font-family: "SpaceGrotesk", sans-serif;
}

button {
  cursor: pointer;
}